.current-game-back {
    position: fixed;
    left: 24px;
    top: 36px;
    background-color: fade(@color-white, 20%);
    border: 0px;
    color: @color-white;
}

.summoner-cards {
    margin: 24px 78px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: stretch;
    justify-content: space-between;
    &-item {
        flex: 1;
        position: relative;
        padding: 12px;
        width: calc(~"100%/5");
    }
}

.match-info {
    margin: -10px 91px 3px 91px;
    >div > img{
        border: none;
    }
    &-blue {
        float: left;
        > img{
            box-shadow: 0px 0px 8px 1px fade(@color-darkblue, 100%);
        }
    }
    &-red {
        float: right;
        > img{
            box-shadow: 0px 0px 8px 1px fade(@color-darkred, 100%);
        }
    }
    &-champion {
        width: 48px;
        height: 48px;
        margin-right: 6px;
        border: 1px solid @color-black;
    }
    &-map {
        text-align: center;
        .map {
            color: @color-black;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            margin: 0px 6px;
            &-type {

            }
            &-name {

            }
            &-time {

            }
        }
    }
}
