.current-game-back {
    position: fixed;
    left: 24px;
    top: 36px;
    background-color: fade(#FFF, 20%);
    border: 0px;
    color: #FFF;
}

.summoner-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: stretch;
    justify-content: space-between;
    &-item {
        flex: 1;
        position: relative;
        padding: 12px;
        width: calc(~"100%/5");
    }
}

.match-info {
    padding: 12px;
    background-color: fade(#FFF, 60%);
    margin: 0px 12px;
    border-radius: 4px;
    &-blue {
        float: left;
        > img{
            .box-shadow(0px 0px 8px 1px #0000ff);
        }
    }
    &-red {
        float: right;
        > img{
            .box-shadow(0px 0px 8px 1px #ff0000);
        }
    }
    &-champion {
        width: 48px;
        height: 48px;
        margin-right: 6px;
        border-radius: 4px;
        border: none;
    }
    &-map {
        text-align: center;
        .map {
            background-color: #FFF;
            padding: 12px 24px;
            color: #5a5a5a;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 4px;
            margin: 0px 6px;
            &-type {}
            &-name {}
            &-time {}
        }
    }
}