@height-cards-item: 350px;
@height-front-back: 340px;
@height-content: 150px;

.summoner-cards-item {
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-webkit-perspective: 800px;
	height: @height-cards-item;
	perspective: 800px;
	width: 100%;
	margin-top: -20px;
	&.manual-flip {
		&.hover {
			.flip-content {
				-moz-transform: rotateY( 180deg);
				-o-transform: rotateY( 180deg);
				-webkit-transform: rotateY( 180deg);
				transform: rotateY( 180deg);
			}
		}
	}
	.flip-content {
		-moz-transform-style: preserve-3d;
		-moz-transition: -moz-transform .5s;
		-o-transform-style: preserve-3d;
		-o-transition: -o-transform .5s;
		-webkit-transform-style: preserve-3d;
		-webkit-transition: -webkit-transform .5s;
		background: none repeat scroll 0 0 @color-white;
		color: @color-gray;
		position: relative;
		transform-style: preserve-3d;
		transition: transform .5s;
		cursor: pointer;
		width: 173px !important;
		&.loading-img{
			    background-repeat:no-repeat;
			    background-position: center;
    			height: 340px;
    			&.red{
			    	background-image:  url('../Images/red-loading.svg');
    			}
    			&.blue{
			    	background-image:  url('../Images/blue-loading.svg');
    			}
				
		}
		>button{
			//content:url("http://google.com.tr");
			margin-left: calc(~"100% / 3.45");
			margin-top: calc(~"100% / 1.09");
			color: @color-black !important;
		}

		&.team-blue {
			.front, .back, .blue-shadow {
				border: none;
				box-shadow: 0px 0px 20px 1px fade(@color-darkblue, 99%);
			}
			.name {
				color: @color-darkblue;
			}
		}
		&.team-red {
			.front, .back, .red-shadow {
				border: none;
				box-shadow: 0px 0px 20px 1px fade(@color-darkred, 99%);
			}
			.name {
				color: @color-darkred;
			}
		}
		.front {
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			background-color: fade(@color-white, 85%);
			box-shadow: 0 1px 3px 0 fade(@color-black, 14%);
			height: @height-front-back;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
		.back {
			-moz-backface-visibility: hidden;
			-moz-transform: rotateY( 180deg);
			-o-backface-visibility: hidden;
			-o-transform: rotateY( 180deg);
			-webkit-backface-visibility: hidden;
			-webkit-transform: rotateY( 180deg);
			backface-visibility: hidden;
			background-color: fade(@color-white, 85%);
			box-shadow: 0 1px 3px 0 fade(@color-black, 14%);
			height: @height-front-back;
			left: 0;
			position: absolute;
			top: 0;
			transform: rotateY( 180deg);
			width: 100%;
			z-index: 3;
			.ability {
				text-decoration: none;
				&-title {

				}
				&-mastery {
				}
			}
		}
		.cover {
			height: 156px;
			overflow: hidden;
			position: relative;
			&-image {
				width: 125%;
				margin-left: -7.5%;
				margin-top: -13%;
			}
			&-total-match {
				position: absolute;
				right: 12px;
				top: 12px;
				background-color: fade(@color-black, 75%);
				border-radius: 50%;
				font-size: 12px;
				text-align: center;
				line-height: 28px;
				width: 28px;
				height: 28px;
				color: @color-white;
			}
			.spell, .passive {
				position: absolute;
				left: 6px;
			}
			.spell {
				top: 6px;
				&-item {
					width: 25px;
					margin-right: 6px;
					border-radius: 3px;
					border: 1px solid @color-black;
				}
			}
			.passive {
				bottom: 12px;
				width: 25px;
				border-radius: 3px;
				border: 1px solid @color-black;
			}
		}
		.rank {
			margin-top: -75px;
			text-align: center;
			height: 100px;
			position: relative;
			img {
				max-width: 116px;
				margin-top: 10px;
			}
		}
		.content {
			background-color: transparent;
			box-shadow: none;
			min-height: @height-content;
			position: relative;
			color: @color-black;
			text-align: center;
			padding: 0 5px;
			.back & {
				height: 215px;
			}
		}
		.name {
			font-size: 18px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 0 !important;
		}
		.stats-bar {
			&-label {
				border-top: 1px solid @color-gray;
				font-size: 12px;
				color: #4800ff;/*istisna*/
			}
			&-item {
				.progress {
					background-color: gray;
					margin: 0px;
					height: 12px;
					border-radius: 2px;
					width: 82%;
					display: inline-block;
					&-bar {
						line-height: 12px;
						font-size: 10px;
						span {
						margin-left: 5px;
						margin-right: 5px;
						}
						&-danger{
							background-color: @color-darkred;
						}
						&-success{
							background-color:@color-darkgreen;
						}
					}
				}
			}
			&-percent {
				display: inline-block;
				font-size: 12px;
				vertical-align: top;
				line-height: 14px;
				width: 15%;
				font-weight: bold;
			}
			.kda {
				&+.stats-bar-label {
					margin-top: 0px;
				}
				&-item {
					font-size: 14px;
					font-weight: bold;
					display: inline-block;
					width: 48%;
					vertical-align: top;
					padding: 0px 2px;
					&.kda-count {
						text-align: left;
					}
					&.kda-avarage {
						text-align: right;
						&.bad{
							color: @color-darkred;
						}
						&.excellent{
							color: @color-darkgreen;
						}
						&.normal{
							color: @color-black;
						}
					}
				}
			}
		}
		.stats-container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: stretch;
			text-align: center;
			.stats {
				width: calc(~"100% / 3");
				&:first-child {
					border-right: 1px solid @color-gray;
				}
				&:last-child {
					border-left: 1px solid @color-gray;
				}
				h4 {
					font-weight: 300;
        			margin:0;
				}
				p {
					color: @color-darkgray;
					font-size: 12px;
			        margin:0;
			        margin-top:5px;
				}
				&.red{
					> h4 , p {
					color: @color-red;
					}
				}
				&.green{
					> h4 , p{
					color: @color-green;
					}
				}
				&.blue{
					> h4 , p{
					color: @color-blue;
					}
				}
			}
		}
		.back-main-title {
			text-align: center;
			border-bottom: 1px solid @color-gray;
			padding-bottom: 6px;
			color: @color-darkgray;
			font-weight: 600;
		}
		.rune-list {
			text-align: left;
    		margin: 0px;
			> li {
				margin-bottom: 3px;
				.badge {
					margin-right: 2px;
           			margin-bottom:3px;
           			font-size: 12px !important;
					/*&.b-red{
						background-color: @color-red;
					}
					&.b-yellow{
						background-color: @color-yellow;
					}
					&.b-blue{
						background-color: @color-blue;
					}
					&.b-black{
						background-color: @color-purple;
					}*/
				}
				span{
					font-weight: bold;
					/*&.c-red{
						color: @color-red;
					}
					&.c-yellow{
						color: @color-yellow;
					}
					&.c-blue{
						color: @color-blue;
					}
					&.c-black{
						color: @color-purple;
					}*/
				}
			}
		}
	}
	.profession{
		font-weight: bold !important;
	}

	.card-grow:hover,
	.card-grow:focus,
	.card-grow:active {
	    transform: scale(1.00);//disabled
	}

	.card-grow {
	    transform: translateZ(0);
	    transition-duration: 0.6s;
	    transition-property: transform;
	}

	.division-grow {
	    transform: translateZ(0);
	    transition-duration: 0.4s;
	    transition-property: transform;
	}
	.division-grow:hover,
	.division-grow:focus,
	.division-grow:active {
	    transform: scale(1.10);
	}
	.division {
		position: absolute;
	    color: fade(@color-white, 90%);
	    font-size: 55px;
	    top: 20px;
	    text-align: center;
	    left: 0px;
	    z-index: 99999;
	    width: 100%;
	    font-weight: bold;
	}
}