@font-family-base: "Open Sans";
@navbar-border-radius: 0;
@brand-primary: #5A5A5A;
@brand-success: #5cb85c;
@brand-info: #5DAFF0;
@brand-warning: #F4A940;
@brand-danger: #E34D4D;
// Base Variables
@base-margin: 6px;
@base-paddig: 6px;
//variables.less
@screen-lg: 1260px;
@background-color: #f7f8f9;
@background-darkcolor: #303841;
@color-darkred: #AC001B;
@color-darkgreen: #299d29;
@color-darkblue: #0030ff;
@color-darkgray: #5a5a5a;
@color-red: #e03737;
@color-green: #5cb85c;
@color-blue: #337ab7;
@color-ice: #5daff0;
@color-yellow: #f4a940;
@color-purple: #aa1ac1;
@color-black: #000000;
@color-white: #FFFFFF;
@color-gray: #b4a9a9;
@color-silver: #c0c0c0;

@current-game-zoom: .80;/* #aktif etmek için eklenecekler (current-game.less)
						.current-game-back
							left: 100px;

						.summoner-cards
							transform: scale(@current-game-zoom);
							margin-top: -20px;
							margin-bottom: 0px;

						.match-info 
							transform: scale(@current-game-zoom);
							margin: -25px 91px 10px 91px;
    					*/