doctype html
html(lang="tr")
  head
    title SSMid
    include ./partials/head.jade
    script(type='text/javascript').
        setInterval(function myFunction() {
            var matchtime = 1471250275676;
            var d1 = new Date(matchtime);

            var d2 = new Date();
            var s = new Date(d2 - d1);
            var minutes = s.getMinutes();
            var seconds = s.getSeconds();
            

            if(minutes < 10)
            {
               minutes ='0'+ minutes;
            }
            if(seconds <10)
            {
               seconds ='0'+ seconds;
            }
            
            var elapsed=minutes+':'+seconds;

            document.getElementById("elapsed").innerHTML =elapsed;
        }, 1000);
  body.overlay-opened.home-page
    .app-wrapper
      main.app-content
        a.current-game-back(href="/")
          i.fa.fa-backward.margin-right-sm
        .container
            .summoner-cards
                each item in [1,2,3,4,5]
                    .summoner-cards-item.manual-flip
                        .flip-content.team-blue.card-grow
                            .front
                                .cover
                                    .spell
                                      img.spell-item(src="http://ssmid.net/images/spells/4.png")
                                      img.spell-item(src="http://ssmid.net/images/spells/3.png")
                                    img.passive(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/mastery/6263.png")
                                    span.cover-total-match.blue-shadow 84
                                    img.cover-image(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Irelia_0.jpg')
                                .rank.division-grow
                                    img.img-circle(src='../images/rank/diamond_V.png')
                                    h2.division IV
                                .content
                                    h3.name Newbie Jhin
                                    .profession 100 Lig Puanı
                                    .profession
                                        span.text-success 80 G
                                        span  | 
                                        span.text-danger 90 Y
                                    .stats-bar
                                        .stats-bar-label Dereceli Kazanma Oranı
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 40%')
                                                    span 170 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 60%')
                                                    span 241 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                span  | 
                                                span.text-danger.profession 4
                                                span  | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                                        .stats-bar-label Şampiyon Bilgisi
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 80%')
                                                    span 37 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 20%')
                                                    span 4 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                span  | 
                                                span.text-danger.profession 4
                                                span  | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                            .back
                                .content
                                    h4.back-main-title Kabiliyetler
                                    h5.ability-title tanker
                                    .stats-container
                                        .stats.red
                                            h4 18
                                            p Ferocity
                                        .stats.green
                                            h4 12
                                            p Cunning
                                        .stats.blue
                                            h4 0
                                            p Resolve
                                    h4.back-main-title Rünler
                                    ul.list-unstyled.rune-list
                                      li 
                                        div.badge.b-marks +8.5
                                        span.c-marks Fiziksel Hasar
                                      li  
                                        div.badge.b-seals +8.5
                                        span.c-seals Fiziksel Hasar
                                      li  
                                        div.badge.b-glyphs +8.5
                                        span.c-glyphs Fiziksel Hasar
                                      li  
                                        div.badge.b-qunits +8.5
                                        span.c-qunits Fiziksel Hasar
            .match-info
              .match-info-blue
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
              .match-info-red
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
              .match-info-map
                .map.map-type Normal
                .map.map-name Sihirdar Vadisi
                #elapsed.map.map-time
            .summoner-cards
                each item in [1,2,3,4,5]
                    .summoner-cards-item.manual-flip
                        .flip-content.team-red.card-grow
                            .front
                                .cover
                                    .spell
                                      img.spell-item(src="http://ssmid.net/images/spells/4.png")
                                      img.spell-item(src="http://ssmid.net/images/spells/3.png")
                                    img.passive(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/mastery/6263.png")
                                    span.cover-total-match.blue-shadow 84
                                    img.cover-image(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Irelia_0.jpg')
                                .rank.division-grow
                                    img.img-circle(src='../images/rank/diamond_V.png')
                                    h2.division IV
                                .content
                                    h3.name Newbie Jhin
                                    .profession 100 Lig Puanı
                                    .profession
                                        span.text-success 80 G
                                        span  | 
                                        span.text-danger 90 Y
                                    .stats-bar
                                        .stats-bar-label Dereceli Kazanma Oranı
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 40%')
                                                    span 170 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 60%')
                                                    span 241 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                span  | 
                                                span.text-danger.profession 4
                                                span  | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                                        .stats-bar-label Şampiyon Bilgisi
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 80%')
                                                    span 37 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 20%')
                                                    span 4 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                span  | 
                                                span.text-danger.profession 4
                                                span  | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                            .back
                                .content
                                    h4.back-main-title Kabiliyetler
                                    h5.ability-title tanker
                                    .stats-container
                                        .stats.red
                                            h4 18
                                            p Ferocity
                                        .stats.green
                                            h4 12
                                            p Cunning
                                        .stats.blue
                                            h4 0
                                            p Resolve
                                    h4.back-main-title Rünler
                                    ul.list-unstyled.rune-list
                                      li 
                                        div.badge.b-marks +8.5
                                        span.c-marks Fiziksel Hasar
                                      li  
                                        div.badge.b-seals +8.5
                                        span.c-seals Fiziksel Hasar
                                      li  
                                        div.badge.b-glyphs +8.5
                                        span.c-glyphs Fiziksel Hasar
                                      li  
                                        div.badge.b-qunits +8.5
                                        span.c-qunits Fiziksel Hasar
            
    include ./partials/scripts.jade
