doctype html
html(lang="tr")
  head
    title SSMid
    include ./partials/head.jade
  body.overlay-opened.home-page
    .app-wrapper
      main.app-content
        a.btn.btn-default.current-game-back(href="#")
          i.fa.fa-arrow-left.margin-right-sm
          | Maç Aramaya Dön
        .container
            .summoner-cards
                each item in [1,2,3,4,5]
                    .summoner-cards-item.manual-flip
                        .flip-content.team-blue
                            .front
                                .cover
                                    .spell
                                      img.spell-item(src="http://ssmid.net/images/spells/4.png")
                                      img.spell-item(src="http://ssmid.net/images/spells/3.png")
                                    img.passive(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/mastery/6263.png")
                                    span.cover-total-match.blue-shadow 84
                                    img.cover-image(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Irelia_0.jpg')
                                .rank
                                    img.img-circle.hvr-grow(src='../images/rank/diamond_V.png')
                                    h2.division IV
                                .content
                                    h3.name Newbie Jhin
                                    .profession 100 Lig Puanı
                                    .profession
                                        span.text-green 80G
                                        span  | 
                                        span.text-red 90Y
                                    .stats-bar
                                        .stats-bar-label Dereceli Kazanma Oranı
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 40%')
                                                    span 17 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 60%')
                                                    span 24 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                 | | 
                                                span.text-danger.profession 4
                                                 | | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                                        .stats-bar-label Şampiyon Bilgisi
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 80%')
                                                    span 37 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 20%')
                                                    span 4 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                 | | 
                                                span.text-danger.profession 4
                                                 | | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                            .back
                                .content
                                    h4.back-main-title Kabiliyetler
                                    h5.ability-title tanker
                                    .stats-container
                                        .stats
                                            h4 18
                                            p
                                              | Ferocity
                                        .stats
                                            h4 12
                                            p
                                              | Cunning
                                        .stats
                                            h4 0
                                            p
                                              | Resolve
                                    h4.back-main-title Rune Bilgileri
                                    ul.list-unstyled.rune-list
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
            .match-info
              .match-info-blue
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
              .match-info-red
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
                img.match-info-champion(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/Trundle.png")
              .match-info-map
                .map.map-type Normal
                .map.map-name Sihirdar Vadisi
                .map.map-time 22:46
            .summoner-cards
                each item in [1,2,3,4,5]
                    .summoner-cards-item.manual-flip
                        .flip-content.team-red
                            .front
                                .cover
                                    .spell
                                      img.spell-item(src="http://ssmid.net/images/spells/4.png")
                                      img.spell-item(src="http://ssmid.net/images/spells/3.png")
                                    img.passive(src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/mastery/6263.png")
                                    span.cover-total-match.red-shadow 84
                                    img.cover-image(src='http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Irelia_0.jpg')
                                .rank
                                    img.img-circle.hvr-grow(src='../images/rank/diamond_V.png')
                                    h2.division IV
                                .content
                                    h3.name Newbie Jhin
                                    .profession 100 Lig Puanı
                                    .profession
                                        span.text-green 80G
                                        span  | 
                                        span.text-red 90Y
                                    .stats-bar
                                        .stats-bar-label Dereceli Kazanma Oranı
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 40%')
                                                    span 17 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 60%')
                                                    span 24 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                 | | 
                                                span.text-danger.profession 4
                                                 | | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                                        .stats-bar-label Şampiyon Bilgisi
                                        .stats-bar-item
                                            .progress
                                                .progress-bar.progress-bar-success.progress-bar-striped(style='width: 80%')
                                                    span 37 Galibiyet
                                                .progress-bar.progress-bar-danger.progress-bar-striped(style='width: 20%')
                                                    span 4 Malubiyet
                                            .stats-bar-percent 80%
                                        .kda-wrap
                                            .kda-wrap-item.kda-count
                                                span.text-success.profession 14
                                                 | | 
                                                span.text-danger.profession 4
                                                 | | 
                                                span.text-info.profession 8
                                            .kda-wrap-item.kda-avarage 3.14:1 KDA
                            .back
                                .content
                                    h4.back-main-title Kabiliyetler
                                    h5.ability-title tanker
                                    .stats-container
                                        .stats
                                            h4 18
                                            p
                                              | Ferocity
                                        .stats
                                            h4 12
                                            p
                                              | Cunning
                                        .stats
                                            h4 0
                                            p
                                              | Resolve
                                    h4.back-main-title Rune Bilgileri
                                    ul.list-unstyled.rune-list
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
                                      li 
                                        .badge +8.5
                                        | Fiziksel Hasar
            
    include ./partials/scripts.jade
