extends layout
block content
    .container
        .row
            .col-lg-12

                .col-lg-1
                each a in [1,2,3,4,5]
                    .col-lg-2
                        .panel.panel-default.summoner-blue-team.panel(content-loader color="blue" target="/bilgi/466244/45")

                            //
                            // SUMMONER CARD EXAMPLE
                            //
                            // <div class="panel-heading Summoner-Champ-Img" style="background-image: url(@Model.LoadingUrl)">
                                <p class="text-info pull-right Summoner-ChampPlay-Count">
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Seçtiği şampiyonla oynanan toplam maç">
                                        @Model.CardDetail.PlayCount
                                    </a>
                                </p>
                                <img class="Summoner-Spells" src="@Model.Spell1Url" />
                                <br />
                                <img class="Summoner-Spells" src="@Model.Spell2Url" />
                                <br /><br /><br />
                                <img class="Summoner-Spells" src="@Model.MasteryUrl" data-toggle="tooltip" data-placement="left" title="@Model.Property.MasteryDesc">
                                <br />
                                <img class="Summoner-Spells" src="@Model.RuneUrl" data-toggle="tooltip" data-placement="right" title='@Model.Property.RunePage'>
                            //</div>

                            //<div class="panel-body text-center summoner-panel">
                                <a href="#">
                                    <img class="info-circular summoner-rankimg hvr-grow" src="@Model.RankUrl">
                                    <h2 class="summoner-rankimg-text">@Model.Division</h2>
                                </a>
                                <div class="col-xs-12">
                                    <h5 class="panel-title summoner-name">
                                        <a class="aku @Model.GetTeamColor()-teammember h6" href="#" data-toggle="tooltip" data-placement="top"
                                           title="Seviye @Model.Card.Level">@Model.Card.Name</a>
                                    </h5>
                                </div>
                                <div class="col-xs-12">
                                    <ul class="info-list-group">
                                        <li class="col-xs-12 info-list-item">
                                            @if (Model.Card._Series() != null)
                                            {
                                                foreach (char seriesItem in Model.Card._Series().Progress)
                                                {
                                                    if (seriesItem == 'W')
                                                    {
                                                        <i class="fa fa-check text-success"></i>
                                                    }
                                                    else if (seriesItem == 'L')
                                                    {
                                                        <i class="fa fa-times text-danger"></i>
                                                    }
                                                    else if (seriesItem == 'N')
                                                    {
                                                        <i class="fa fa-minus text-muted"></i>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <strong style="font-size:13px">@Model.Card.LeaguePoints</strong><strong style="font-size:12px;"> Lig Puanı</strong>
                                            }
                                        </li>
                                        <li class="col-xs-12 info-list-item summoner-key">
                                            <a href="#" class="aku" data-toggle="tooltip" data-placement="right" title="Seçtiği şampiyon ile SON 3 maçının KDA toplamı">
                                                Takıma Katkısı
                                                @*<H6 class="summoner-value"><label class="text-success">@Model.CardDetail._SupportToTeam3.Kills</label> | <label class="text-danger">@Model.CardDetail._SupportToTeam3.Deaths</label> | <label class="text-info">@Model.CardDetail._SupportToTeam3.Assists</label></H6>*@
                                            </a>
                                        </li>

                                        <li class="col-xs-12 info-list-item summoner-key">
                                            <a href="#" class="aku" data-toggle="tooltip" data-placement="right" title="Geçerli sezonda dereceli oyunlardaki toplam galibiyeti ve malubiyeti">
                                                Dereceli Kazanma Oranı
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="@Model.Card._WL().w_perc"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:@Model.Card._WL().w_perc.ToString()%">
                                                        @Model.Card._WL().w_perc.ToString()%
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="col-xs-12info-list-item summoner-key">
                                            <a href="#" class="aku" data-toggle="tooltip" data-placement="right" title="Seçtiği şampiyon ile oynadığı SON 5 maçın KDA bilgisi">
                                                @*<h6 class="summoner-value"><label class="text-success">@Model.CardDetail._Perf5.Kills</label> | <label class="text-danger">@Model.CardDetail._Perf5.Deaths</label> | <label class="text-info">@Model.CardDetail._Perf5.Assists</label></h6>*@
                                            </a>
                                        </li>
                                        <li class="col-xs-12info-list-item summoner-key">
                                            <a href="#" class="aku" data-toggle="tooltip" data-placement="right" title="Seçtiği şampiyonun sezon KDA bilgisi">
                                                @Model.CardDetail.Name Dereceli Performansı
                                                <h6 class="summoner-value"><label class="text-success">@Model.CardDetail._GeneralPerf().Kills</label> | <label class="text-danger">@Model.CardDetail._GeneralPerf().Deaths</label> | <label class="text-info">@Model.CardDetail._GeneralPerf().Assists</label></h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            //</div>

                .col-lg-12               
                    .col-lg-1
                    .col-lg-11
                        .col-md-3.summoner-blue-bannedchamp-area
                            each a in [1,2,3]
                                img.summoner-bannedchamp(width="40" src="http://sk2.op.gg/images/lol/champion/Katarina.png")
                        a.go-search(href="~/" data-toggle="tooltip" data-placement="bottom" title="Maç Aramaya Dön")
                            i.fa.fa-backward
                
                .col-lg-1
                .col-md-5.summoner-macinfo-panel
                    span.label.label-default Dereceli
                    span.label.label-primary Sihirdar Vadisi
                    span.label.label-default Geçen Süre (00:12)

                .col-lg-1
                each a in [1,2,3,4,5]
                    .col-lg-2
                        .panel.panel-default.summoner-red-team.panel(content-loader color="red" target="/bilgi/466244/45")
                .col-lg-12               
                    .col-lg-1
                    .col-lg-11
                        .col-md-3.summoner-blue-bannedchamp-area
                            each a in [1,2,3]
                                img.summoner-bannedchamp(width="40" src="http://sk2.op.gg/images/lol/champion/Katarina.png")






