doctype html
html(lang="tr")
  head
    title SSMid
    include ./partials/head.jade
  body.overlay-opened.home-page
      .app-wrapper
        header.app-header
          .container
            nav.navbar.navbar-main(role='navigation')
              .container-fluid
                .collapse.navbar-collapse.navbar-ex1-collapse
                  ul.nav.navbar-nav
                    li.active
                      a(href='#') Link
                    li
                      a(href='#') Link
                  
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='#') Link
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Dropdown 
                        b.caret
                      ul.dropdown-menu
                        li
                          a(href='#') Action
                        li
                          a(href='#') Another action
                        li
                          a(href='#') Something else here
                        li
                          a(href='#') Separated link
        main.app-content
          .container
            form.app-quick-search.form-inline
              div.text-danger
                i.fa.fa-warning.fa-2x
              div.info-text
                strong Aktif oyun yok veya şampiyon seçimi yapılıyor.. Lütfen Tekrar Deneyiniz.
              .search
                input.form-control.input-lg.search-input(placeholder="Sihirdar ara..")
                .search-actions
                  button.btn.btn-default.search-location(type="button") TR
                  button.btn.btn-default.search-submit(type="submit")
                    i.fa.fa-search
            .app-overlay
        footer.app-footer
      include ./partials/scripts.jade