doctype html
html(lang="tr")
  head
    title SSMid
    include ./partials/head.jade
  body.overlay-opened.home-page
      .app-wrapper
        include ./partials/navbar.jade
        main.app-content
          .container
            form.app-quick-search.form-inline
              div.text-danger
                i.fa.fa-warning.fa-2x
              div.info-text
                strong Aktif oyun yok veya şampiyon seçimi yapılıyor.. Lütfen Tekrar Deneyiniz.
              .search
                input.form-control.input-lg.search-input(placeholder="Sihirdar ara..")
                .search-actions
                  button.btn.btn-default.search-location(type="button") TR
                  button.btn.btn-default.search-submit(type="submit")
                    i.fa.fa-search
            .app-overlay
        include ./partials/footer.jade
      include ./partials/scripts.jade