extends partials/layout
block content
    .container
        .row
            .col-lg-10.col-lg-offset-1
                p
                    b
                        h1 Terms Of Use
                    | This Terms of Use Agreement sets forth the standards of use of the ssmid.net Online Service for Registered Members. By using the ssmid.net website you (the Member) agree to these terms and conditions. If you do not agree to the terms and conditions of this agreement, you should immediately cease all usage of this website. We reserve the right, at any time, to modify, alter, or update the terms and conditions of this agreement without prior notice. Modifications shall become effective immediately upon being posted at ssmid.net website. Your continued use of the Service after amendments are posted constitutes an acknowledgement and acceptance of the Agreement and its modifications. Except as provided in this paragraph, this Agreement may not be amended.
                    br
                    br
                    b.panel-title 1. Description of Service
                    br
                    | ssmid.net is providing League of Legends summoner statistics, team statistics, and profile customization for members.
                    br
                    br
                    b.panel-title 2. Disclaimer of Warranties
                    br
                    | ssmid.net makes no representations or warranties of any kind, express or implied, regarding the use or the results of this web site in terms of its correctness, accuracy, reliability, or otherwise. ssmid.net shall have no liability for any interruptions in the use of this Website. ssmid.net disclaims all warranties with regard to the information provided, including the implied warranties of merchantability and fitness for a particular purpose, and non-infringement. Some jurisdictions do not allow the exclusion of implied warranties; therefore the above-referenced exclusion is inapplicable.
                    br
                    br
                    b.panel-title 3. Limitation of Liability
                    br
                    | ssmid.net sites shall not be liable for any damages whatsoever, and in particular ssmid.net shall not be liable for any special, indirect, consequential or incidental damages, or damages for loss profits, loss of revenue or loss of use arising out of or related to this website or the information contained within it. Whether such damages arise in contract, negligence, tort, under statute, in equity, at law, or otherwise, even if ssmid.net has been advised of the possibility of such damages. Some jurisdictions do not allow for the limitation or exclusion of liability for incidental or consequential damages, therefore some of the above limitations is inapplicable.
                    br
                    br
                    b.panel-title 4. Indemnification
                    br
                    | Member agrees to indemnify and hold ssmid.net its parents, subsidiaries, affiliates, officers and employees, harmless from any claim or demand, including reasonable attorneys? fees and costs, made by any third party due to or arising out of Member?s use of the Service, the violation of this Agreement, or infringement by Member, or other user of the Service using Member?s computer, of any intellectual property or any other right of any person or entity.
                    br
                    br
                    b.panel-title 5. Members Account
                    br
                    | All Members of the Service shall receive a password and an account. Members are entirely responsible for any and all activities which occur under their account whether authorized or not authorized. Member agrees to notify ssmid.net Staff of any unauthorized use of Member?s account or any other breach of security known or should be known to the Member. Member?s right to use the Service is personal to the Member. Member agrees not to resell or make any commercial use of the Service without the express written consent of ssmid.net
                    br
                    br
                    b.panel-title 6. Modifications and Interruption to Service
                    br
                    | ssmid.net reserves the right to modify or discontinue the Service with or without notice to the Member. ssmid.net shall not be liable to Member or any third party should ssmid.net exercise its right to modify or discontinue the Service. Member acknowledges and accepts that ssmid.net does not guarantee continuous, uninterrupted or secure access to our website and operation of our website may be interfered with or adversely affected by numerous factors or circumstances outside of our control.
                    br
                    br
                    b.panel-title 7. Third-Party Sites
                    br
                    | Our website may require links to other sites on the Internet that are owned and operated by online merchants and other third parties. You acknowledge that we are not responsible for the availability of, or the content located on or through, any third-party site. You should contact the site administrator or webmaster for those third-party sites if you have any concerns regarding such links or the content located on such sites. Your use of those third-party sites is subject to the terms of use and privacy policies of each site, and we are not responsible therein. We encourage all Members to review said privacy policies of third-parties sites.
                    br
                    br
                    b.panel-title 8. Copyright and Trademark Information
                    br
                    | ssmid.net isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.
                    br
                    br
                    | All content included or available on this site, including site design, text, graphics, interfaces, and the selection and arrangements thereof is 2014 &copy; ssmid.net, will all rights reserved, or is the property of ssmid.net and/or third parties protected by intellectual property rights. Any use of materials on the website, including reproduction for purposes other than those noted above, modification, distribution, or replication, any form of data extraction or data mining, or other commercial exploitation of any kind, without prior written permission of an authorized officer of ssmid.net is strictly prohibited. Members agree that they will not use any robot, spider, or other automatic device, or manual process to monitor or copy our web pages or the content contained therein without prior written permission of an authorized officer of ssmid.net
                    br
                    br
                    | All other trademarks displayed on the ssmid.net website are the trademarks of their respective owners, and constitute neither an endorsement nor a recommendation of those Vendors. In addition, such use of trademarks or links to the web sites of Vendors is not intended to imply, directly or indirectly, that those Vendors endorse or have any affiliation with ssmid.net
                    br
                    br
                    b.panel-title 9. Other Terms
                    br
                    | If any provision of this Terms of Use Agreement shall be unlawful, void or unenforceable for any reason, the other provisions (and any partially-enforceable provision) shall not be affected thereby and shall remain valid and enforceable to the maximum possible extent. You agree that this Terms of Use Agreement and any other agreements referenced herein may be assigned by ssmid.net, in our sole discretion, to a third party in the event of a merger or acquisition. This Terms of Use Agreement shall apply in addition to, and shall not be superseded by, any other written agreement between us in relation to your participation as a Member. Member agrees that by accepting this Terms of Use Agreement, Member is consenting to the use and disclosure of their personally identifiable information and other practices described in our Privacy Policy Statement.