doctype html
html(lang="tr")
  head
    title SSMid
    include ./head.jade
  body
    .app-wrapper
      include ./navbar.jade
      main.app-content
        block content
      footer.app-footer
        include ./footer.jade
    include ./scripts.jade