header.app-header
        .container
          nav.navbar.navbar-main(role='navigation')
            .container-fluid
              .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                  li
                    a(href='/index.html') Search Live Match
                  li
                    a(href='/privacy-policy.html') Privacy Policy
                  li
                    a(href='/terms-of-use.html') Terms of Use
                
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='#') Login
                  //li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Dropdown 
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Action
                      li
                        a(href='#') Another action
                      li
                        a(href='#') Something else here
                      li
                        a(href='#') Separated link
                        